# Ignore files with .pyc extension
*.pyc

# Ignore the entire 'venv' directory
venv/

# Ignore log files
*.log

# Ignore files in a specific directory
data.csv

#ignore pgloader file
load_config.load

#Ignore environmental variable
election/.env
